/recommendationapp/__pycache__/*
/apps/teachers/__pycache__/*
/apps/teachers/migrations/*
/apps/categories/__pycache__/*
/apps/categories/migrations/*
/apps/contents/__pycache__/*
/apps/contents/migrations/*
/apps/students/__pycache__/*
/apps/students/migrations/*
/apps/recommendations/__pycache__/*
/apps/recommendations/migrations/*
/apps/preferences/__pycache__/*
/apps/preferences/migrations/*